<% layout('/layouts/boilerplate')%>

<div class="about-text">
    <h1 class="mb-4">About this Web Application</h1>

    This project was built on top of Colt Steele's 2022 Web Developer Bootcamp. It is a fully functional <b>Express Node.js
    web application</b> and it uses MongoDb as its main database system. As a CRUD application (a CRUD app is a specific
    type
    of software application that consists of four basic operations: Create, Read, Update, Delete), it includes
    a database, a friendly user interface and many APIs.

    A user/owner can create an account, then upload a campground and share it with other users. Also, as a user/visitor,
    she/he can comment and rate each campground according to the quality of her/his accommondation there. This app also includes
    interractive maps which give the ability to the user to roam among all available campgrounds. 

    The campgrounds and brands used in this application are there only for project presentation purposes. The prices of
    each
    campground as well as some information are not indicative and do not correspond to reality.
</div>