<% layout('/layouts/boilerplate')%>


    <div class="container d-flex justify-content-center align-items-center mt-4 mb-4"></div>
    <div class="row">
        <h1 class="mb-4 text-center">About this Web Application</h1>
        <div class="about-text mt-3 mb-4">


            <p>This project was built based on Colt Steele's 2022 Web Developer Bootcamp. It is a fully functional
                <b class="about">Express
                    Node.js
                    web application</b> and it uses <b class="about">MongoDB</b> as its main database system. As a CRUD application (a CRUD app is a specific type of software application that consists of four basic operations: Create, Read, Update, Delete), it includes a database, many APIs and a friendly user interface that conforms to the design principles of the representational state transfer (REST) architectural style.

               A user/owner can create an account, upload a campground, and share it with other users. Additionally, as a user/visitor, they can comment and rate each campground based on the quality of their accommodation there. This app also includes interactive maps that allow the user to explore all available campgrounds.

      The campgrounds and brands featured in this application are used for project presentation purposes only. The prices and some of the information provided are not indicative and do not correspond to reality.
            </p>
        </div>


    </div>
    </div>
